.navigation {
    background: rgba(0, 0, 0, 0.1);
}
.navigation-list {
  list-style: none;
  width: 980px;
  margin: auto;
  text-align: right;
}
.navigation-title {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  color: #fff;
 margin: 15px 10px;
}

.navigation-link {
  font-weight: 300;
  font-size: 22px;
  float: left;
  text-decoration: none;
  color: #FFF;
}
